/*
 * @version v6.0.0-SNAPSHOT
 * @date 2-23-2017
 * @timestamp 2:22:50
 */



/* layout.all@t16.css - t16 - Shared Offer Template */

/*	$T16-SITEHEADER
*****************************/
.modC04_header_1{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 12px;
}

.modC04_header_1 #header-logo img{
	display: inline-block;
	max-width: 100%;
	min-height: 46px;
	height: auto; /* 46px */
}

.modC04_header_1 #header-menu{
	margin-top: 12px;
}

.modC04_header_1 #header-menu a{
	color: #e9c372;
	font-size: 12px;
	text-decoration: underline;
	display: inline-block;
}

.modC04_header_1 #header-menu  a:hover{
	color: #f9d994;
}

.modC04_header_1 #header-menu > .row > div:first-child{
	padding-right: 0;
}

.modC04_header_1 #header-menu > .row > div:last-child{
	padding-left: 0;
}

.modC04_header_1 #header-menu > .row > div:first-child a{
	padding-right: 8px;
}

.modC04_header_1 #header-menu > .row > div:last-child a{
	padding-left: 10px;
	position: relative;
}

.modC04_header_1 #header-menu > .row > div:last-child a:before{
	content: "|";
	display: inline-block;
	position: absolute;
	top: 0;
	left: -1px;
	color: #e9c372;
}



/*	$T16-CNT_SCROLLER
*********************************/
.t16 .shared-offers-list .modCnt_scroller_3,
.t16 .shared-offers-list .mod.modCnt_scroller_3 .slick-slider{
	margin-bottom: 0;
}


/*	$T16-SHARED-OFFERS-LIST
****************************************/
.t16 .shared-offers-list {
	margin-top: 10px;
	margin-bottom: 20px;
}

.t16 .shared-offers-list .modCnt_scroller_3{
	margin-right: -15px;
	margin-left: -15px;
}

@media (min-width: 768px) {
	.t16 .shared-offers-list > .row > div:first-child .modCnt_scroller_3{
		margin-right: -13px;
	}
	.t16 .shared-offers-list > .row > div:last-child .modCnt_scroller_3{
		margin-left: -13px;
	}
	.t16 .shared-offers-list .modCnt_container_1{
		margin-left: -15px;
		border-left: 1px solid #ccc;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
	}
	.t16 .shared-offers-list > .row > div:first-child .modCnt_container_1{
		border: none;
		margin-left: 0;
		padding-left: 0;
	}
}

@media (min-width: 991px) {
	.t16 .shared-offers-list > .row > div:first-child .modCnt_scroller_3{
		margin-left: 0;
	}
	.t16 .shared-offers-list > .row > div:last-child .modCnt_scroller_3{
		margin-right: 0;
	}
	.t16 .shared-offers-list > .row > div:first-child .modCnt_container_1{
		padding-left: 20px;
		padding-right: 5px;
	}
}


.t16 .shared-offers-list .cnt_paragraph_1{
	text-align: center;
}


/*	$T16-MODCNT_HIGHLIGHT_1
******************************************/
.t16 .shared-offers-list .modCnt_highlight_1 .c1,
.t16 .shared-offers-list .modCnt_highlight_1 .c2{
	float: left;
	display: block;
}

.t16 .shared-offers-list .modCnt_highlight_1 .c1 {
	width: 33.33333333%;
	padding-right: 0;
}

.t16 .shared-offers-list .modCnt_highlight_1 .c2 {
	width: 66.66666667%;
}

.t16 .shared-offers-list .modCnt_highlight_1 h3 {
	margin-top: 0;
	margin-bottom: .4em;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1;
}

.t16 .shared-offers-list .modCnt_highlight_1 .tx p{
	font-size: 1em;
}

@media (max-width: 767px) {
	.t16 .shared-offers-list .modCnt_highlight_1 .wrap {
		margin-left: 15px;
	}
}

/*	$T16-SHARED-OFFERS-LIST-CNT_LIST_2
*************************************************************/
.t16 .shared-offers-list .modCnt-list-2 > ul{
	padding: 10px 20px;
}

/*	$T16-SHARED-OFFERS-LIST-CNT_BUTTON_1
*************************************************************/
.t16 .shared-offers-list .cnt_button_1{
	display: table;
    margin: 0 auto;
}

.t16 .shared-offers-list .cnt_button_1.section {
	margin: 15px auto;
}

@media (max-width: 767px) {

	.t16 .shared-offers-list .cnt_button_1{
		padding: 15px;
		display: block;
		white-space: inherit;
	}

	.t16 .shared-offers-list .cnt_button_1.section {
		padding: 0;
	}
}

/*	$T16-CNT-LEGAL-1
*****************************/
.c04-legal-1{
	padding-top: 34px;
	text-align: center;
	color: #fff;
	font-size: 10px;
	min-height: 100px;
}

.cnt-title-1 {
	margin: 15px 0 15px 0;
}