/*
 * @version v6.0.0-SNAPSHOT
 * @date 2-23-2017
 * @timestamp 2:22:50
 */




/* grids.all@ie8.css */

/* c04_header_1.all@ie8.css */

@media (min-width: 769px) {
  .subnav {
    top: 32px !important;
    border: 1px solid #bbb;
    border-top: none;
  }
}

#nav-primary > li.parent-nav:hover:before,
.menucollapse-more:hover:before {
  top: 19px;
}

#nav-top-bar > li.last:after {
  display: none;
}



/* c04_header_2.all@ie8.css - Site Header (Retail & Casino) */

/*.modC04_header_2 .dropdown-desc {
	min-height: 40px;
}*/

@media (min-width: 768px) {
	.modC04_header_2 .subnav {
		top: 32px !important;
		border: 1px solid #bbb;
		border-top: none;
	}
}

.modC04_header_2 #nav-primary > li.parent-nav:hover:before,
.modC04_header_2 .menucollapse-more:hover:before {
	top: 19px;
}


.cnt_image_1 .caption.overlay {
	background: rgb(0,0,0);
	filter: alpha(opacity=50);
}

.yt-video-modal#colorbox #cboxClose:before {
    width: 20px;
    height: 20px;
    font-size: 1em;
    line-height: 1.3;
    padding-left: 3px;
}


.ie8 .modMh_feature_1 .slideExpander {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/dam/icons/expand-white.png', sizingMethod='scale');
}

.ie8 #colorbox.ex-feature-modal #cboxClose {
 	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/dam/icons/collapse-white.png', sizingMethod='scale');
	background-color: transparent;
}
.ie8 .modMh_feature_1 .desc-vertical-align, .ie8 .modMh_feature_1 .th-vertical-align{
	top: 30%
}

.modMh_feature_1 .bookOnlineButton a.cnt_button_1{
    float: none;
}
.sands-modal#colorbox #cboxClose:before {
    border-radius: 50%;
    behavior: url(/static/PIE.htc);
}

/* BB */
@media screen and (min-width: 992px){
	.ie8 .modMh_feature_1 .op_main_desc {
    	top: 10%;
    }
}
/* Mobile */
@media screen and (max-width: 767px) {
    .ie8 .modMh_feature_1 .op_main_desc {
    	top: auto;
    }
    .ie8 .modMh_feature_1 .content-area-container {
		min-height: 200px !important
    }
    .ie8 .modMh_feature_1 #op-m-gallery {
    	display: block !important;
    }
    .ie8 .modMh_feature_1 #op-nom-gallery {
    	display: none !important
    }
    .ie8 .modMh_feature_1 div#op_main_bookblock {
    	display: none !important
    }
    .ie8 .modMh_feature_1 div#op_bookbtn_tablet {
    	display: none !important
    }
}
/* Tablet */
@media only screen and (min-width: 767px) and (max-width: 992px) {
	.ie8 .modMh_feature_1 div#op_main_bookblock {
		display: none !important;
	}
	.ie8 .modMh_feature_1 div#op_bookbtn_tablet {
		display: block !important;
	}
}



.cnt_4x3_callout img + .overlay{
    background: transparent;
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000); /* IE 6 & 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000)"; /* IE8 */
}



.cnt_4x6_callout img + .overlay{
    background: transparent;
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000); /* IE 6 & 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000)"; /* IE8 */
}

.modCnt_flex_2_col_1 .col-sm-8 .cnt_4x6_callout .wrapper{
    padding-bottom: 152.5%;
}



.cnt_8x3_callout img + .overlay{
    background: transparent;
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000); /* IE 6 & 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000)"; /* IE8 */
}


html div.filter_bar {
    min-height: 0;
    height: 54px;
}
div.modCnt_event_catwalk_1.desktop div.filter_bar{
    min-height: 0;
}

.modCnt_event_catwalk_1.tablet .filter_bar .filters .filter input{
    padding: 5px 5px 6px;
    margin-bottom: 0px;
}


.modCnt_hotspot_item_1 img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	box-shadow: none;
	behavior: url(/static/PIE.htc);
}
.publisher .modCnt_hotspot_item_1 .overlay{
	border-radius: 5px;
	behavior: url(/static/PIE.htc);
}
.publisher .modCnt_hotspot_item_1 div.pod{
	radius: 5px;
	behavior: url(/static/PIE.htc);
}

.modCnt_hotspot_1 div.dot:before,
.modCnt_hotspot_1 div.dot.active:before{
	content: " ";
	background: none;
	background: transparent url('/static/combine_sprite.png') no-repeat -10px -3891px;
	/*background-position: 0px 0px;*/
	width: 16px;
	height: 16px;
	display: block;
	margin: 6px auto;
}


.lg-sub-html{
	background: transparent;
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000); /* IE 6 & 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000)"; /* IE8 */
}

.lg-actions .lg-next,
.lg-actions .lg-prev {
	background: transparent;
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000); /* IE 6 & 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000)"; /* IE8 */
}


/*
	Copyright (c) 2014 , MRM//McCANN. All rights reserved.
	File Name  : cnt_reservation_1@t03b@ie8.css
*/

/* ==========================================================================
   $BASE-PICKER
   ========================================================================== */
/**
 * Note: the root picker element should *NOT* be styled more than what is here.
 */
.picker {
	font-size: 16px;
	text-align: left;
	line-height: 1.2;
	color: #000000;
	position: absolute;
	z-index: 10000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/**
 * The picker input element.
 */
.picker__input {
	cursor: default;
}
/**
 * When the picker is opened, the input element is 'activated'.
 */
.picker__input.picker__input--active {
	border-color: #0089ec;
}
/**
 * The holder is the only 'scrollable' top-level container element.
 */
.picker__holder {
	width: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
}
/*!
 * Classic picker styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
/**
 * Note: the root picker element should *NOT* be styled more than what is here.
 */
.picker {
	width: 100%;
}
/**
 * The holder is the base of the picker.
 */
.picker__holder {
	position: absolute;
	background: #ffffff;
	border: 1px solid #aaaaaa;
	border-top-width: 0;
	border-bottom-width: 0;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 176px;
	max-width: 466px;
	max-height: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transform: translateY(-1em) perspective(600px) rotateX(10deg);
	-moz-transform: translateY(-1em) perspective(600px) rotateX(10deg);
	transform: translateY(-1em) perspective(600px) rotateX(10deg);
	-webkit-transition: -webkit-transform 0.15s ease-out, opacity 0.15s ease-out, max-height 0s 0.15s, border-width 0s 0.15s;
	-moz-transition: -moz-transform 0.15s ease-out, opacity 0.15s ease-out, max-height 0s 0.15s, border-width 0s 0.15s;
	transition: transform 0.15s ease-out, opacity 0.15s ease-out, max-height 0s 0.15s, border-width 0s 0.15s;
}
/**
 * The frame and wrap work together to ensure that
 * clicks within the picker don't reach the holder.
 */
.picker__frame {
	position: static;
	padding: 1px;
}
.picker__wrap {
	margin: -1px;
}
/**
 * When the picker opens...
 */
.picker--opened .picker__holder {
	max-height: 25em;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	border-top-width: 1px;
	border-bottom-width: 1px;
	-webkit-transform: translateY(0) perspective(600px) rotateX(0);
	-moz-transform: translateY(0) perspective(600px) rotateX(0);
	transform: translateY(0) perspective(600px) rotateX(0);
	-webkit-transition: -webkit-transform 0.15s ease-out, opacity 0.15s ease-out, max-height 0s, border-width 0s;
	-moz-transition: -moz-transform 0.15s ease-out, opacity 0.15s ease-out, max-height 0s, border-width 0s;
	transition: transform 0.15s ease-out, opacity 0.15s ease-out, max-height 0s, border-width 0s;
	-webkit-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
	box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
}

.modCnt_reservation_1 #check_out,
.modCnt_reservation_1 #check_in {
	padding: 7px 8px 8px;
}

/*.modCnt_reservation_1 .f1,
.modCnt_reservation_1 .f2,
.modCnt_reservation_1 .f3,
.modCnt_reservation_1 .f4,
.modCnt_reservation_1 .f5,
.modCnt_reservation_1 .f6 { padding-right: 8px; }*/

/*.modCnt_reservation_1.size_med .f2 { width: 12%;  margin-top: 0; }
.modCnt_reservation_1.size_med .f3 { width: 12%;  margin-top: 0; }
.modCnt_reservation_1.size_med .f4 { width: 14%; }
.modCnt_reservation_1.size_med .f5 { width: 14%; }
.modCnt_reservation_1.size_med .f6 { width: 17%; }
.modCnt_reservation_1.size_med .f7 { width: 25%; float:right;}
.modCnt_reservation_1.size_med .f3,
.modCnt_reservation_1.size_med .f6{ padding-right: 1.3%; }*/

.modCnt_reservation_1.size_med.overlay {
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#99000000',GradientType=1 )
}

.cnt-scroller-1 .btn {
    background: #000000;
    filter: alpha(opacity=60);
}

.cnt-scroller-1 .btn:hover {
    filter: alpha(opacity=90);
}


.modMh_container_1 .slick-dots li button {
	background: url(/static/ie8-dot-bg.png);
}

.modMh_container_1 .slick-dots li.slick-active button {
  background: #cb9623;
}

.modMh_container_1 .caption-box {
	background: rgb(0,0,0);
	filter: alpha(opacity=60);
}



/*	$MH-ITEM-1
===========================*/

.mobile-img {
	display: none !important;
}


/* mh_tabbed_1@ie8.css - all */

.modMh_tabbed_1 .slick-dots li button {
	background: url(/static/ie8-dot-bg.png);
}

.modMh_tabbed_1 .slick-dots li.slick-active button {
	background: #cb9623;
}

@media (min-width: 768px) {
	.modMh_tabbed_1 .caption-box {
		background-color: #000;
		filter: alpha(opacity=70);
	}
}