/*
 * @version v6.0.0-SNAPSHOT
 * @date 2-23-2017
 * @timestamp 2:22:50
 */



/* layout.all@t03a.css - t03a - Detail Template (Old) */

#sect-title .modCnt_paragraph_1 {
  margin-top: 1em;
}

#main-content {
	
}

#sect-share {
  margin: 1.5em 0;
}

#sidebar .cnt_teaser_1.section {
  margin-bottom: 1.5em;
}

#sidebar > .row {
  margin-right: 0;
}

.cnt-tab-1 .resp-tab-content {
  padding: 1em 0;
}


/* cnt_highlight_1@t03a.css - t03a - Detail Template (Old) */

.modCnt_highlight_1 .c1,
.modCnt_highlight_1 .c2 {
  float: left;
}

/* cnt_reservation_1@t03a.css */

.cq-wcm-edit .cnt_reservation_1 .modCnt_reservation_1 {
	bottom: auto;
	position: relative !important;
}

.cq-wcm-edit .modCnt_reservation_1 .f1.res_label.xs_label {
	display: none !important;
}

.cq-wcm-edit .modCnt_reservation_1 .fields .f1.res_label.sm_label {
    display: block;
    margin-top: -19px;
    height: 70px;
    vertical-align: middle;
}

.cq-wcm-edit div.modCnt_reservation_1 .form_fields {
    width: 80%;
    width: expression(100% - 195px);
    width: calc(100% - 195px);
    height: 30px;
    float: right;
    margin-right: 15px;
    overflow: hidden;
}