/*
 * @version v6.0.0-SNAPSHOT
 * @date 2-23-2017
 * @timestamp 2:22:50
 */



/* layout.all@t15.css - t15 - Calendar Template */

#sidebar_parsys {
    margin-top: 1em;
}

#sect-title .modCnt_paragraph_1 {
    margin-top: 1em;
}

#sect-share {
    margin: 1.5em 0;
}

#sidebar .cnt_teaser_1.section {
    margin-bottom: 1.5em;
}

#sidebar > .row {
    margin-right: 0;
}

.cnt-tab-1 .resp-tab-content {
    padding: 1em 0;
}
